@import '../var.scss';

.field{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .scroll {
        flex:1;
        overflow: auto;
    }
    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__box {
        display: flex;
        align-items: center;
        padding: 5px;
    }
    &__img {
        width: 78px;
        height: 78px;
        border-radius: 12px;
        @include bg;
        margin-right: 16px;
    }
    &__col {
        @include fb(25%);
        padding: 8px;
    }
}